@use '@src/constants/global.scss' as global;

.footer {
  background-color: global.$secondaryBackgroundColor;
}

.wrapper {
  max-width: 1300px;
  padding: global.$largePadding;
  margin: 0 auto;
  min-height: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 550px) {
  .wrapper {
    flex-direction: column;
  }
}